{% extends 'base.html.twig' %}

{% block title %}Hello ValueNowIndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.name | default('Anon') }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/mnt/storage/playground/linda-valuenow/src/Controller/ValueNowIndexController.php'|file_link(0) }}">src/Controller/ValueNowIndexController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/mnt/storage/playground/linda-valuenow/templates/value_now_index/index.html.twig'|file_link(0) }}">templates/value_now_index/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
